@page
@model SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@if (Model.FizzBuzzs != null)
{
    <ul>
        @foreach (var element in Model.FizzBuzzs)
        {
            <li>@element.FirstName, @element.BirthYear - @(element.LeapYear ? "Rok przestepny" : "To nie jest rok przestepny")</li>
        }
    </ul>

}
